/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}




html, body, div {
  padding: 0px;
  margin: 0px;
}


#room {
  height: 5000px;
}

#room.dragover {
  background-color: #EEE;
}

#room form.debugAddUrl {
  position: absolute;
  display: block;
}

#room .object {
  position: absolute;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}

#room .object.dragging {
  transition: none;
  -webkit-transition: none;
}

#room .object.deck {
  border: solid 2px #FF0;
}

#room .users {
  float: right;
  background-color: #F00;
}
