
html, body, div
  padding: 0px;
  margin: 0px;

#room
  height: 5000px;

  &.dragover
    background-color: #EEE;

  form.debugAddUrl
    position: absolute;
    display: block;

  .object
    position: absolute;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;

    &.card
      img
        width: 160px
        border-radius: 7px

    &.dragging
      transition: none;
      -webkit-transition: none;
      transform: scale(1.05) rotate(2deg)
      img
        // border: solid 2px #666
        box-shadow: 2px 2px 4px #666;

    &.deck

      img
        position: absolute;
        display: block;
        background: #eee;
        // border: 1px solid #FFF;
        box-shadow: 2px 2px 4px #777;  

      div.num
        font-size: 30px
        position: absolute
        background-color: #000
        color: #FFF
        left: 2px;
        top: 2px;
        border-radius: 5px
        padding: 5px

  .users
    float: right;
    background-color: #F00;


  .trash
    position: fixed
    bottom: 0px
    right: 0px
    width: 200px
    height: 200px
    border: solid 1px #000

    &.dragover
      background-color: #F00

  .hand
    position: fixed
    width: 500px
    height: 200px
    bottom: 0px
    border: solid 1px #000
    margin: 0px auto

    &.dragover
      background-color: #F00

    .card
      // pointer-events: none
      float: left
      img
        width: 160px
      

