<div id="room" droppable dropUrl="onDropUrl(url)">

  <!-- I MUST bind to the position! -->
  <div class="object" ng-repeat="object in room.objects" draggable dragMove="onDragMove(object, dx, dy)" dragEnd="onDragEnd(object)" ng-style="object.position">
    <img ng-src="{{object.imageUrl}}"/>
  </div>

  <!-- accept JSON urls? images with headers? -->
  <!-- figure out how to upload? -->
  <form class="debug">
    <div>
      <input ng-model="imageUrl">
      <button ng-click="newImage()">New Image</button>
    </div>
    <div>
      <input ng-model="deckUrl">
      <button ng-click="newDeck()">New Image</button>
    </div>
  </form>

  <div class="users">
    <h3>Users</h3>
    <div class="user" ng-repeat="user in room.users">
      {{user.name}}
    </div>
  </div>
</div>


<!-- http://magiccards.info/scans/en/pd3/3.jpg -->
