<div id="room" droppable dropUrl="onDropUrl(url)">

  <script type="text/javascript">
    function drag(e) {
      e.dataTransfer.setData('text/plain', 'This text may be dragged')
      console.log("WOOT", e.dataTransfer.getData('text/plain'))
    }
  </script>

  <!-- I need to drop DATA now -->
  <!-- interesting. dropData="" -->
  <!-- 1. Drag a card into the hand and have it visually respond -->
  <div class="hand" asdf>

  </div>

  <!-- I MUST bind to the position! -->
  <div 
    class="object {{object._type}} card" 
    ng-repeat="object in room.objects | orderBy:order" 
    adraggable 
      dragStart="onDragStart(object)" 
      dragMove="onDragMove(object, dx, dy)" 
      dragEnd="onDragEnd(object)" 
    ng-style="object.position" 
    ng-switch on="object._type" 
    dragClick="onDragClick(object)">

    <!-- how should I render a deck? -->
    <div class="deck" ng-switch-when="deck">
      <img ng-src="{{object.backImageUrl}}"/>
      <div class="num">{{object.objects.length}}</div>
    </div>

    <!-- card / default -->
    <img ng-switch-default ng-src="{{object.imageUrl}}"/>
  </div>

  <!-- accept JSON urls? images with headers? -->
  <!-- figure out how to upload? -->
  <form class="debug">
    <div>
      <input ng-model="imageUrl">
      <button ng-click="newImage()">New Image</button>
    </div>
    <div>
      <input ng-model="deckUrl">
      <button ng-click="newDeck()">New Image</button>
    </div>
  </form>

  <div class="users">
    <h3>Users</h3>
    <div class="user" ng-repeat="user in room.users">
      {{user.name}}
    </div>
  </div>


  <div draggable="true" ondragstart="drag(event)">
    This text <strong>may</strong> be dragged.
  </div>




</div>


<!-- http://magiccards.info/scans/en/pd3/3.jpg -->
